<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link rel="stylesheet" href="/~s167663/bundles/css/style.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <meta http-equiv="Content-type" content="text/html; charset=ISO-8859-2" />
  <meta name="Description" content="Wypozyczalnia Samochodow" />
  <meta name="Author" content="Maciej Muchajer & Pawe³ Kalinowski" />
  <meta name="Generator" content="EdHTML" />
  <title>Wypozyczalnia Samochodow CarRent</title>
</head>

	<body>
		<header class="page-header">
			<div>
				<img src="/~s167663/bundles/images/logo.png" align="top">  <br>
			</div>
		</header>
		
	
	<div class="container">
			<div class="row">
				<div id="sidebar" class="col-sm-12 col-lg-3">
					<img src="/~s167663/bundles/images/menu.png">  <br><br>
					<a href="http://v-ie.uek.krakow.pl/~s167663/app_dev.php"><img src="/~s167663/bundles/images/index.png"></a>  <br><br>
					<a href="http://v-ie.uek.krakow.pl/~s167663/app_dev.php/car"><img src="/~s167663/bundles/images/samochody.png"></a>  <br>
					<a href="http://v-ie.uek.krakow.pl/~s167663/app_dev.php/car/osobowe"><img src="/~s167663/bundles/images/osobowe.png"></a>  <br>
					<a href="http://v-ie.uek.krakow.pl/~s167663/app_dev.php/car/dostawcze"><img src="/~s167663/bundles/images/dostawcze.png"></a>  <br><br>
					<a href="http://v-ie.uek.krakow.pl/~s167663/app_dev.php/car/popularne"><img src="/~s167663/bundles/images/popularne.png"></a>  <br><br>
					<a href="http://v-ie.uek.krakow.pl/~s167663/app_dev.php/car/oceniane"><img src="/~s167663/bundles/images/czesto_oceniane.png"></a>  <br><br>
					<a href="http://v-ie.uek.krakow.pl/~s167663/app_dev.php/warunki"><img src="/~s167663/bundles/images/warunki.png"></a>  <br><br>
				</div>
				
				<div id="content" class="col-sm-12 col-lg-7">
						<p align="center">Volkswagen Transporter</p>
		<center><img src="/~s167663/bundles/images/linia.png" width="800" height="30"> </center>
		
		<table>
			<tr>
				<td>
					Volkswagen Transporter<br>
					Rok produkcji: 2013<br>
					Silnik: 2.5 TDI 139KM<br>
					Liczba osob: 3<br>
					Ladownosc: 2,4 tony<br>
				</td>
				<td>
					<img src="/~s167663/bundles/images/transporter.jpeg" align=right>
				</td>
			</tr>
			
			<tr>
				<td><br>
					<form>
			<div class="form-group">
				<label for="exampleInputEmail1">Adres e-mail</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
			</div>
			
			<b>Ocen auto: </b>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox1" value="option1"> 1
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox2" value="option2"> 2
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox3" value="option3"> 3
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox3" value="option3"> 4
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox3" value="option3"> 5
			</label> <br><br>
			
			<b>Napisz wlasna opinie...<b><br><br>
			<textarea class="form-control" rows="3"></textarea>
			<br><br>
			
			<center><button type="submit" class="btn btn-default">Wyslij opinie</button></center>
					</form>
				</td>
				<td>
					<center><font size=5 color=green><b>Dostepny!</b></font></center><br>
					<center><font size=5><b>Cena: 120 zl</b></font></center><br>
					<center><button type="button" class="btn btn-default">Wypozycz!</button></center>
				</td>
			</tr>
		</table>

		<center><img src="/~s167663/bundles/images/linia.png" width="800" height="30"> </center>
				</div>
			</div>
		</div>
		
		<footer>
			<div class="container">
				<center>
				<br>
				<p>Copyright by Maciej Muchajer & Pawe³ Kalinowski</p>
				</center>
			</div>
		</footer>
		
		
	</body>
</html>
