<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=ISO-8859-2" />
  <meta name="Description" content="Wypozyczalnia Samochodow" />
  <meta name="Author" content="Maciej Muchajer & Paweł Kalinowski" />
  <meta name="Generator" content="EdHTML" />
  <title>Wypozyczalnia Samochodow CarRent</title>
</head>
<body>
<body bgcolor="black" text="white">
<center>

<table><table border="0" width="20%" align="center" cellspacing="1" bgcolor="black">
<tr>


<font size="4">
     <td>
		<img src="/~s167663/bundles/images/logo.png" align="top">  <br>
    </td>
    </tr>
	
</table>
    
 <table bgcolor="black">
     <tr>
      <td> 
<img src="/~s167663/bundles/images/menu.png">  <br>

</td>
</font>
  <td>

  <center>
  Witamy na stronie wypozyczalni Car Rent !<br>
  
<img src="/~s167663/bundles/images/linia.png">  <br>
  
  </center>
   
<center>

bla<br>
bla<br>
bla<br>
bla<br>
bla<br>
bla<br>
bla<br>
bla<br>
bla<br>
bla<br>
bla<br>
bla<br>
bla<br>
bla<br>
bla<br>
bla<br>

    </center>
	</font>
    </font>
<center><img src="/~s167663/bundles/images/linia.png"> </center>

    </td>
</font>
</tr>


<tr>
<td></td>
<td>
<center>
<font size=2>
Copyright by Maciej Muchajer & Paweł Kalinowski
</font>
</center>
 </td> </tr>
</table></table>
</center>

</body>
</html>
